{# templates/pointwise_query_generation.jinja2 #}
Identify an important aspect of an item given the item description. The aspect should be different from previously identified aspects. The output format for the aspect is a key-value pair that does not exceed 7 words.

Example input/output format:
''''
Item Description:
****
<item description>
****
Previously extracted aspects:
****
Key, Value: <aspect key 1>, <aspect value 1>
Key, Value: <aspect key 2>, <aspect value 2>
****
Key, Value: <new aspect key>, <new aspect value>
'''' 

Input:
''''
Item Description:
****
{{ item_desc }}
****
{% if aspects %}
Previously extracted aspects:
****
{% for aspect in aspects %}
Key, Value: {{ aspect['aspect_key'] }}, {{ aspect['aspect_value'] }}
{% endfor %}
****
{% endif %}
Key, Value: