{# templates/aspect_query.jinja2 #}
A user was asked this query:
{{ interaction['query'] }}
They responded:
{{ interaction['response'] }}
Extract one aspect that is no more than 7 words that describes the preference that the user expressed in this interaction.