{# templates/entailment_query.jinja2 #}
An item has these reviews: [
{% for review in reviews %}
Review: {{ review }},
{% endfor %}]
Could "{{ aspect }}" be used to describe this item? Answer only yes or no.