{# templates/pointwise_query_generation.jinja2 #}
Given a specific aspect of an item and the item description, generate a "yes or no" query to determine a user's preferences towards that aspect.

Example 1:
''''
Item Description:
****
 Movie Title: Monsters, Inc. (2001) \n Genres: Adventure, Animation, Children, Comedy, Fantasy \n Tags: Pixar, funny, Comedy, cute, animation, Animation, Disney, innovative, hilarious, John Goodman, Steve Buscemi, monsters, original, Oscar (Best Music - Original Score), Pixar animation, animated, Billy Crystal, CGI, Oscar (Best Music - Original Song), comedy
****
Aspect:
****
children
****
Output Query: Are you looking for a children's movie?
''''

Example 2:
''''
Item Description:
****
Simple creamy oyster soup
****
Aspect:
****
warm dish
****
Output Query: Do you want a warm dish?
''''

Input:
''''
Item Description:
****
{{- item_desc -}}
****
Aspect:
****
{{- aspect_dict['aspect_value'] -}}
****
Output Query: 