{# templates/pointwise_query_generation.jinja2 #}
Your task is to generate a yes/no query for a user that best elicits their preferences 
about a specific aspect of some items. You will be given the aspect and the description of 
a single item.

Example:
''''
####
Item Description: This movie is a laugh-a-minute, non-stop roller coaster of fun for the whole family
####
Aspect: genre
Value: family-friendly
####

Query: Are you looking for a family-friendly movie?
''''

Example:
''''
####
Item Description: Long-time fans of the Fender Stratocaster electric guitar praise its three single-coil pickups and solid body design. Many colour choices available.
####
Aspect: body type
Value: solid body
####

Query: Do you prefer a solid body design?
''''

''''
####
Item Description: {{ item_desc }}
####
Aspect: {{ aspect_dict['aspect_key'] }}
Value: {{ aspect_dict['aspect_value'] }}
####

Query: 