{# templates/pointwise_query_generation.jinja2 #}
Identify an important aspect of an item given the item description. The aspect should be different from any previously identified aspects and must not exceed 3 words. 

Example 1:
''''
Item Description:
****
Chocolate cupcakes with blue vanilla custard filling hidden inside the cupcake
****
Previously extracted aspects:
****

Cajun cuisine

Indian cuisine

dessert

****
Output: cupcake
'''' 

Example 2:
''''
Item Description:
****
Thai curry with shrimp and coconut milk that can be dipped with bread
****
Previously extracted aspects:
****

****
Output: Thai cuisine
''''

Example 3:
''''
Item Description:
****
Chowder soup made from corn, bacon, cornstarch and heavy cream
****
Previously extracted aspects:
****

Italian cuisine

chowder soup

****
Output: 80's
''''

Input:
''''
Item Description:
****
{{ item_desc }}
****
Previously extracted aspects:
****
{% if aspects %}
{% for aspect in aspects %}
{{ aspect['aspect_value'] }}
{% endfor %}
{% endif %}
****

Output: 