{# templates/pref_query.jinja2 #}
You must determine whether or not a user will like an item based on a description of the item and 
a sequence of queries posed to the user and the user's responses. Your answer can only be true or false.

''''
Example 1:
A user has the following past interactions:
####
Query: Do you care about fuel mileage? 
Response: No, I don't really care about that.
####
####
Query: Do you want a sports car? 
Response: Yes
####
The item has this description:
Description: This is a grey four-door sedan that focuses on fuel efficiency and low budget.
####
Is the following statement true or false: This user will like this item. Answer only with True or False.
Your response: False
''''

''''
Example 2:
A user has the following past interactions:
####
Query: Do you want an electric guitar or an acoustic guitar?
Response: Electric
####
####
Query: What type of pickups do you want?
Response: Two humbucker pickups
####
####
Query: Is there a brand that you prefer?
Response: I like Gibson, but Epiphone is fine too.
####
The item has this description:
Description: Gibson SG335 electric guitar with two humbucker pickups and a semi-hollow body shape. Colour: Crimson
####
Is the following statement true or false: This user will like this item. Answer only with True or False.
Your response: True
''''

''''
Here is the real query:
A customer has the following past interactions:
{% for interaction in interactions %}
####
Query: {{ interaction['query'] }}
Response: {{ interaction['response'] }}
####
{% endfor %}
####
The item has this description:
Description: {{ item_desc }}
####
Is the following statement true or false: This user will like this item. Answer only with True or False.
Your response: 