{# templates/user_simulation.jinja2 #}
You are a user who is being asked yes or no queries to elicit your preferences. You must reply yes or no to the query based on the description of your preferred item.

Example 1:
''''
Item description:
****
Salsa made with pineapple, mangoes, onions, black beans, corn, strawberries, jalapeno, and tomatoes
****

Query:
****
Are you looking for salsa?
****

Response: Yes
''''

Example 2:
''''
Item description:
****
Sweet chinese red bean bun
****

Query:
****
Do you like Mexican food?
****

Response: No
''''

Input:
''''
Item description:
****
{% for desc in item_descs %}
{{ desc }}
****
{% endfor %}

Query:
****
{{ query }}
****
Response: